@font-face {
  font-family: "Open-Sars";
  font-weight: 400;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open-Sars";
  font-weight: 700;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}
* {
  font-family: "Open-Sars";
}
.content {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 3px 1px #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}
h3 {
  font-size: 16px;
  padding-left: 5px;
}
.aside {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(150, 220, 250);
  border-radius: 5px;
}
.cv-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 225, 217);
}
.aside-item .cv-name {
  margin: 15px 0;
  font-size: 32px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.cv-image {
  margin-top: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.aside-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-item p {
  font-size: 13px;
  padding: 0 10px;
  color: rgb(70, 70, 70);
  font-weight: 700;
  text-align: justify;
  cursor: pointer;
}
.aside-item {
  border-radius: 5px;
  width: 100%;
}
.cv-content {
  width: 75%;
}
.cv-content {
  font-size: 16px;
}
.content-item {
  padding: 22px;
  border-bottom: 1px solid #eee;
}
.content-item ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress {
  height: 10px;
  background-color: rgb(150, 195, 255);
}
#pr-1 {
  margin-left: 100px;
  width: 75%;
}
#pr-2 {
  margin-left: 28px;
  width: 70%;
}
#pr-3 {
  margin-left: 80px;
  width: 68%;
}
#pr-4 {
  margin-left: 111px;
  width: 72%;
}
#pr-5 {
  margin-left: 124px;
  width: 30%;
}
#pr-6 {
  margin-left: 88px;
  width: 42%;
}
#pr-7 {
  margin-left: 100px;
  width: 20%;
}
#pr-8 {
  margin-left: 131px;
  width: 75%;
}
#pr-9 {
  margin-left: 48px;
  width: 50%;
}
